---
import { getCollection } from "astro:content";
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

const researchAreas = (await getCollection("research")).sort((a, b) => a.data.pos - b.data.pos);
---

<Layout>
    <section>
        <h1>Research Areas</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus  volutpat nulla, quis convallis augue pellentesque a. Donec facilisis  volutpat magna, sit amet gravida erat maximus et. Nullam at elementum  orci.</p>
    </section>

    <section class="research-section">
        <div class="research">
            {researchAreas.map((area, index) => {
                return (
                <div class={"research-area" + (index % 2 !== 0 ? " reversed" : "")}>
                    <div class="text">
                    <h3>{area.data.title}</h3>
                    <p>{area.data.summary}</p>
                    <Button href={`/research/${area.id}`}>Find out more</Button>
                    </div>
                    {area.data.coverImage && <Image src={area.data.coverImage} alt={area.data.title} />}
                </div>
                )
            })}
        </div>
    </section>
</Layout>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;
    }

    .research-section {
        padding-block: 4rem;
    }
    .research {
        display: grid;
        gap: 8rem;
        margin-block-start: 2rem;
    }
    .research-area {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1.25fr 1fr;
    }
    .research-area .text {
        display: grid;
        align-content: center;

        & h3 {
        font-family: var(--ff-heading);
        font-size: 2rem;
        font-weight: 600;
        max-width: 31ch;
        line-height: 1.3;
        margin-block-end: 0.5lh;
        }
        & p {
        max-width: 62ch;
        margin-block-end: 1.25lh;
        }
    }
    .research-area img {
        object-fit: contain;
        mix-blend-mode: multiply;
    }
    .research-area.reversed {
        grid-template-columns: 1fr 1.2fr;

        & img {
        order: -1;
        }
    }

    @media (max-width: 1070px) {
        .research {
        gap: 5rem;
        }
        .research-area {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        }

        .research-area img {
        display: none;
        }
        .research-area.reversed img {
        order: 1;
        }
    }
</style>
