---
import Layout from "../layouts/Layout.astro";

import Button from "../components/Button.astro";
import PublicationsList from "../components/PublicationsList.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import UnileverLogo from "../assets/logos/unilever.svg";
import CrodaLogo from "../assets/logos/croda.png";
import BPLogo from "../assets/logos/bp.png";
import AppliedMaterialsLogo from "../assets/logos/applied-materials.png";
import CPACTLogo from "../assets/logos/cpact.png";
import KeitLogo from "../assets/logos/keit-industrial-analytics.png";
import JohnsonMattheyLogo from "../assets/logos/johnson-matthey.svg";

const researchAreas = (await getCollection("research")).sort((a, b) => a.data.pos - b.data.pos);
---

<Layout>
  <section>
    <div class="hero">
      <h1 class="caps-title">About us</h1>
      <h2>We are an interdisciplinary research group working at the interface of chemical engineering, sustainable manufacturing, and machine learning.</h2>
    </div>
  </section>

  <section>
    <div class="photo"></div>
  </section>

  <section>
    <div class="about">
      <p>We develop interpretable, data-driven, and hybrid digital twins that integrate domain knowledge with AI to accelerate materials design, reaction understanding, process development, real-time optimisation, and autonomous operation, enabling robust and circular manufacturing solutions in close partnership with industry across formulation, specialty chemicals, and biopharmaceuticals.</p>
    </div>
  </section>

  <section>
    <div class="industrial-collaborators">
      <div class="text">
        <h2>Industrial Collaborators</h2>
        <p>We work in close partnership with industry across formulation, specialty chemicals, and biopharmaceuticals.</p>
      </div>
      <div class="industrial-logos">
        <Image src={CPACTLogo} alt="CPACT Logo" class="half-height" />
        <Image src={UnileverLogo} alt="Unilever Logo" />
        <Image src={JohnsonMattheyLogo} alt="Johnson Matthey Logo" class="half-height" />
        <Image src={CrodaLogo} alt="Croda Logo" class="half-height" />
        <Image src={AppliedMaterialsLogo} alt="Applied Materials Logo" class="half-height" />
        <Image src={BPLogo} alt="BP Logo" />
        <Image src={KeitLogo} alt="KEIT Industrial Analytics Logo" class="half-height" />
      </div>
    </div>
  </section>

</Layout>

<style>
  section {
    --content-max-width: 1300px;
  }

  .hero {
    display: grid;
    align-content: start;
    text-align: left;
    padding-block: 1rem;

    & h2 {
      max-width: 40ch;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
  @media (max-width: 67rem) {
    .hero h2 {
      font-size: 2rem;
    }
  }
  @media (max-width: 42.5rem) {
    .hero h1 {
      font-size: 0.9rem;
    }
    .hero h2 {
      font-size: 1.5rem;
    }
  }

  .photo {
    background: var(--clr-bg-dark);
    width: min(50rem, 100%);
    aspect-ratio: 5 / 3;
    justify-self: end;
    margin-block: 3rem;
  }

  .about {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    padding-block-start: 4rem;

    & h2 {
      font-size: 1.5rem;
      font-weight: 600;

      & span {
        color: var(--clr-primary);
        /* text-decoration: underline;
        text-decoration-thickness: 3px; */
      }
    }
    & .text {
      display: grid;
      align-content: center;
      gap: 0.25rem;

      /* font-family: var(--ff-heading);
      font-weight: 500;
      font-size: 1.625rem; */

      padding-block: 1rem;

      & p {
        padding-block-end: 1rem;
      }
    }
    & .photo {
      background: var(--clr-bg-dark);
      width: 100%;
      aspect-ratio: 4 / 3;
    }
  }
  @media (max-width: 67rem) {
    .about {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .about .photo {
      max-width: 40rem;
    }
  }

  .industrial-collaborators {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    
    column-gap: 5rem;
    row-gap: 1rem;
    padding-block: 8rem;

    & .text {
      display: grid;
      align-content: start;
      gap: 0.5lh;
      padding-block: 3lh;
    }
    & h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    & p {
      max-width: 38ch;
    }
  }
  .industrial-logos {
    display: grid;
    grid-template-columns: repeat(3, minmax(11rem, 1fr));
    grid-auto-rows: 6rem;
    align-items: center;
    justify-items: center;

    column-gap: 1rem;
    row-gap: 1rem;

    margin-block-start: 1.5rem;

    & img {
      object-fit: contain;
      height: 5.25rem;
      width: fit-content;
    }
    & img.half-height {
      height: 2.25rem;
    }
  }

  @media (max-width: 67rem) {
    .industrial-collaborators {
      grid-template-columns: 1fr;

      & .text {
        justify-items: center;
        text-align: center;
        padding-block: 0;
      }
      & p {
        max-width: 48ch;
      }
    }
  }
  @media (max-width: 42.5rem) {
    .industrial-logos {
      grid-template-columns: repeat(2, minmax(6rem, 1fr));
      row-gap: 0;
      column-gap: 0.5rem;

      & img {
        height: 4.5rem;
      }
      & img.half-height {
        height: 1.75rem;
      }
    }
  }
</style>