---
import Layout from "../layouts/Layout.astro";

import Button from "../components/Button.astro";
import PublicationsList from "../components/PublicationsList.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import UnileverLogo from "../assets/logos/unilever.svg";
import CrodaLogo from "../assets/logos/croda.png";
import BPLogo from "../assets/logos/bp.png";
import AppliedMaterialsLogo from "../assets/logos/applied-materials.png";
import CPACTLogo from "../assets/logos/cpact.png";
import KeitLogo from "../assets/logos/keit-industrial-analytics.png";
import JohnsonMattheyLogo from "../assets/logos/johnson-matthey.svg";

const researchAreas = (await getCollection("research")).sort((a, b) => a.data.pos - b.data.pos);
---

<Layout>
  <section style="padding-block: 0;">
    <div class="hero">
      <h1>Integrating <span>Domain Knowledge</span> and <span>Data Intelligence</span> for Digital Transformation of Chemical and Biochemical Processes</h1>
      <Button href="/phd-group-site/research">Explore our research</Button>
    </div>
  </section>

  <section>
    <div class="about">
      <div class="text">
        <h2>We are an interdisciplinary research group working at the interface of chemical engineering, sustainable manufacturing, and machine learning.</h2>
        <!-- We develop interpretable, data-driven and hybrid digital twins that integrate domain knowledge with AI. -->
        <!-- <p>
          Our work accelerates materials design, reaction understanding, process development, real-time optimisation, and autonomous operation,
          enabling robust and circular manufacturing solutions.
          We work in close partnership with industry across formulation, specialty chemicals, and biopharmaceuticals.
        </p> -->
        <Button href="/phd-group-site/about">More about us</Button>
      </div>
      <div class="photo"></div>
    </div>
  </section>

  <section class="research-section">
    <h2 class="caps-title">Research Areas</h2>
    <div class="research">
      {researchAreas.map((area, index) => {
        return (
          <div class={"research-area" + (index % 2 !== 0 ? " reversed" : "")}>
            <div class="text">
              <h3>{area.data.title}</h3>
              <p>{area.data.summary}</p>
              <Button href={`/phd-group-site/research/${area.id}`}>Find out more</Button>
            </div>
            {area.data.coverImage && <Image src={area.data.coverImage} alt={area.data.title} />}
          </div>
        )
      })}
    </div>
  </section>

  <section class="publications-section">
    <h2>Recent Publications</h2>
    <PublicationsList limit={4} />
    <Button href="/phd-group-site/publications">See more publications</Button>
  </section>

  <section class="industrial-collaborators">
    <h2 class="caps-title">Industrial Collaborators</h2>
    <div class="industrial-logos">
      <Image src={UnileverLogo} alt="Unilever Logo" />
      <Image src={CPACTLogo} alt="CPACT Logo" class="half-height" />
      <Image src={CrodaLogo} alt="Croda Logo" class="half-height" />
      <Image src={BPLogo} alt="BP Logo" />
      <Image src={JohnsonMattheyLogo} alt="Johnson Matthey Logo" class="half-height" />
      <Image src={KeitLogo} alt="KEIT Industrial Analytics Logo" class="half-height" />
      <Image src={AppliedMaterialsLogo} alt="Applied Materials Logo" class="half-height" />
    </div>
  </section>
</Layout>

<style>
  section {
    --content-max-width: 1350px;
  }

  .hero {
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 2rem;

    height: clamp(30rem, 50svh, 40rem);
    /* padding-block-start: 8rem;
    padding-block-end: 10rem; */

    & h1 {
      max-width: 35ch;
      font-size: clamp(2rem, 4vw, 2.75rem);
      /* font-size: 3.5vw; */
      font-weight: 700;

      & span {
        color: var(--clr-primary);
        /* text-decoration: underline;
        text-decoration-thickness: 0.075lh; */
      }
    }
  }
  @media (max-width: 42.5rem) {
    .hero h1 {
      font-size: 1.825rem;
    }
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    & h2 {
      font-size: 1.75rem;
      font-weight: 600;

      & span {
        color: var(--clr-primary);
        /* text-decoration: underline;
        text-decoration-thickness: 3px; */
      }
    }
    & .text {
      display: grid;
      align-content: center;
      gap: 1.5rem;

      /* font-family: var(--ff-heading);
      font-weight: 500;
      font-size: 1.625rem; */

      padding-block: 1rem;

      & p {
        padding-block-end: 1rem;
      }
    }
    & .photo {
      background: var(--clr-bg-dark);
      width: 100%;
      aspect-ratio: 4 / 3;
    }
  }
  @media (max-width: 1070px) {
    .about {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
    .about .photo {
      max-width: 40rem;
    }
  }
  @media (max-width: 42.5rem) {
    .about h2 {
      font-size: 1.5rem;
    }
  }

  .research-section {
    padding-block: 9rem;
  }
  .research {
    display: grid;
    gap: 8rem;
    margin-block-start: 2rem;
  }
  .research-area {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1.25fr 1fr;
  }
  .research-area .text {
    display: grid;
    align-content: center;

    & h3 {
      font-family: var(--ff-heading);
      font-size: 2rem;
      font-weight: 600;
      max-width: 31ch;
      line-height: 1.3;
      margin-block-end: 0.5lh;
    }
    & p {
      max-width: 62ch;
      margin-block-end: 1.25lh;
    }
  }
  .research-area img {
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  .research-area.reversed {
    grid-template-columns: 1fr 1.2fr;

    & img {
      order: -1;
    }
  }

  @media (max-width: 1070px) {
    .research {
      gap: 5rem;
    }
    .research-area {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    .research-area img {
      display: none;
    }
    .research-area.reversed img {
      order: 1;
    }
  }

  .publications-section {
    --content-max-width: 900px;
    row-gap: 1.75rem;
    justify-items: center;

    & h2 {
      justify-self: left;
    }
  }

  .industrial-collaborators {
    /* --content-max-width: 1100px; */
    justify-items: center;
    padding-block: 8rem;
  }
  .industrial-logos {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-auto-rows: 5rem; */
    column-gap: 3rem;
    row-gap: 2.5rem;

    align-items: center;
    justify-content: center;

    /* height: 5rem; */
    margin-block-start: 1.5rem;
    padding-inline: 1rem;

    & img {
      object-fit: contain;
      height: 4rem;
      width: fit-content;
    }
    & img.half-height {
      height: 2rem;
    }
  }
</style>