---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

import ExampleImage from "../assets/example-image.png";
import PublicationsList from "../components/PublicationsList.astro";

// import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
// import GitHubIcon from "../assets/icons/GitHubIcon.astro";
// import GoogleScholarIcon from "../assets/icons/GoogleScholarIcon.astro";
// import OrcidIcon from "../assets/icons/OrcidIcon.astro";

type Props = {
  slug: string
} & CollectionEntry<"group">["data"];

const { slug, name, position, email, profileImage, links } = Astro.props;

const linkIcons = {
  // "LinkedIn": LinkedInIcon,
  // "GitHub": GitHubIcon,
  // "Google Scholar": GoogleScholarIcon,
  // "ORCID": OrcidIcon,
}
---

<Layout gap="2rem">
  <section>
    <div class="hero">
      <div class="side">
        <div class="profile-image">
          <Image src={profileImage ?? ExampleImage} alt={name} />
        </div>
        {links &&
          <ul class="links">
            <li><a href={`mailto:${email}`}>{email}</a></li>
            <div class="icon-links">
              {(Object.keys(linkIcons)).map((lname: string) => {
                if (lname in links) {
                  const Icon = linkIcons[lname]
                  return <li><a href={links[lname]}><Icon /></a></li>
                }
                else return <></>
              })}
            </div>
            {Object.keys(links)
              .filter(l => !Object.keys(linkIcons).includes(l))
              .map((lname: string) => (
                <li><a href={links[lname]} target="_blank">{lname}</a></li>
              )
            )}
          </ul>
        }
      </div>
      <div class="main">
        <div>
          <p class="position">{position}</p>
          <h1 class="name">{name}</h1>
        </div>
        <div class="md">
          <slot />
        </div>
      </div>
    </div>
  </section>

  <section class="publications-section">
    <h2>Publications</h2>
    
    <PublicationsList filterAuthor={slug} />
  </section>

</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: 280px auto;
    gap: 4ch;
  }

  .profile-image {
    background: #0002;
    width: 100%;
    aspect-ratio: 3 / 4;

    border-radius: 0.25rem;
  }
  .main {
    display: grid;
    grid-template-rows: min-content;
    gap: 1.25rem;
    padding-block: 0.25rem;
  }
  .position {
    font-weight: 500;
    line-height: 1.1;
  }
  .name {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
  }

  .links {
    display: grid;
    gap: 0.25rem;
    list-style: none;
    padding-block: 0.5rem;
  }
  .icon-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1ch;

    & li {
      width: 2.5ch;
      height: 2.5ch;
    }
    & a {
      width: 100%;
      height: 100%;
    }
  }

  .publications-section {
    margin-block-start: 3rem;

    & h2 {
      margin-block-end: 1.25rem;
    }
  }

  @media (max-width: 47rem) {
    .hero {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .profile-image {
      width: 100%;
      max-width: min(21rem, 80%);
      margin-inline: auto;
    }
    .links {
      display: none;
    }
  }
</style>
